body{
    margin: 0;
}
.container{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
img{
    max-width: 100%;
    height: auto !important;
}
.displayarea{
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
}
@media only screen and (min-width:900px){
    .displayarea{
        max-width: 60%;
    }
}
.displayarea div{
    margin-left: auto;
    margin-right: auto;
}
.displayarea div span{
    display: inline !important;
}
.title,
.subtitle {
    text-align: center !important;
}